*{
	box-sizing: border-box;
}

body{
	display: flex;
	overflow: hidden;
	font-family: "Fira Sans", sans-serif;
}

code, pre{
	font-family: "Inconsolata", monospace;
}

ol, ul{
	padding-left: 1rem;
}

#sidebar{
	width: 30%;
	max-width: 350px;
	background: #333;
	color: white;

	padding: 50px 20px;
	border-right: 10px solid #008888;
	height: 100vh;
	overflow: scroll;
}

#sidebar #title{
	font-size: 2rem;
	word-wrap: break-word;
}

#sidebar #title a{
	text-decoration: none;
}

#sidebar a{
	color: white;
	text-decoration: none;

	height: 100vh;
	overflow: scroll;
}
#sidebar a:hover{
	text-decoration: underline;
}

#sidebar h4:first-of-type{
	margin: 0;
}

#sidebar h4{
	margin-bottom: 0;
}

#sidebar details summary{
	cursor: pointer;
	list-style: " + " inside;
	font-family: "Inconsolata", monospace;
}
#sidebar details[open] summary{
	list-style: " - " inside;
}

#sidebar .sidebar-list{
	margin: 0;
	padding: 1rem 2rem;
	font-family: "Inconsolata", monospace;
}

#sidebar .sidebar-list li{
	list-style: none;
}

#page-content{
	width: 70%;
	height: 100vh;
	overflow: scroll;
	flex-grow: 2;
}

#page-content h1{
	font-size: 2.5rem;
}

#page-content h2{
	font-size: 2rem;
}

#page-content h3{
	font-size: 1.3rem;
	margin: 0;
}

#page-content h4{
	font-size: 1rem;
	margin: 0;
}

#page-content .scroll-content{
	padding: 50px;
}

#page-content .class-item{
	margin: 2rem 0;
}

#page-content .class-item.constructor{

}

#page-content .class-item.properties{

}

#page-content .class-item.methods{

}

#page-content .class-item .title{
	background: #e6f0f2;
	padding: 0.25rem 0.5rem;
}

#page-content .class-item .title .static-label{
	color: #555;
	font-size: 1rem;
}

#page-content .class-item .description{
	font-size: 1rem;
	padding: 0rem 0.5rem;
}

#page-content .class-item .parameters{
	font-size: 1rem;
	padding: 0rem 0.5rem;
	margin-bottom: 1rem;
}

#page-content .class-item .parameters .parameter-list{
	list-style: none;
	margin: 0;
}

#page-content .class-item .parameters .parameter-list .parameter-list-item{
}

#page-content .class-item .return{
	padding: 0rem 0.5rem;
	font-size: 1rem;
}

#page-content .class-item .type{
	color: #3ea1b7;
}